---
layout: default
---

<div class="bg-gray-100">
    <header class="bg-white shadow">
      <div class="container mx-auto px-4 py-6">
        <h1 class="text-2xl font-bold text-gray-800">{{ page.title }}</h1>
      </div>
   </header>
    <p class="text-gray-900 text-lg pb-12 font-extrabold leading-4">{{page.subtitle}}</p>
    <div class="mt-12 lg:mt-0 lg:col-span-2">
        {% for post in collections.posts.resources %}
            <article class="bg-white rounded-lg shadow p-6">
              <h2 class="text-xl font-bold text-gray-800">
                <a href="{{ post.relative_url }}">{{ post.data.title }}</a>
              </h2>
            </article>
        {% endfor %}
    </div>
  </div>
</div>
